[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "lib/erc-8004-contracts"]
	path = lib/erc-8004-contracts
	url = https://github.com/erc-8004/erc-8004-contracts.git
